.characterArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 600px;
}
.link {
  text-align: right;
  color: cornsilk;
}
.stylesDetail {
  display: flex;
  background-color: yellow;
}

.textInfo {
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 70px;
}
