.characterArticlePack {
  background-color: darkcyan;
  color: white;
  width: 210px;
  padding-bottom: 7px;
}

.characterTitle {
  margin-left: 8px;
}
.species {
  margin-left: 8px;
  font-size: 12px;
}
