.header {
  display: flex;
  justify-content: center;

  @media all and (min-width: 768px) {
    justify-content: center;
    margin-left: 0px;
  }
}
.logo {
  box-sizing: content-box;
  height: 82.5px;
  margin-top: 50px;
  margin-bottom: 50px;

  @media all and (min-width: 768px) {
    width: 600px;
    height: 230px;
  }
}
.section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
