.orderingButton {
  background-color: #e17334;
  border: none;
  border-radius: 12px;
  padding: 13px 18px 13px 17px;
  margin-left: 10px;
  margin-right: 10px;
  width: 199px;
  height: 50px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 200;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: 4s intro infinite alternate;
  line-height: 1.7;
}
